.table {
  width: 90%;
  margin: auto;
  padding: 20px 0 40px;
  border: 1px solid grey;
}
.table-header {
  line-height: 40px;
}
.date {
  width: 14%;
  padding-left: 20px;
}
.desc {
  width: 48%;
}
.type {
  width: 10%;
}
.amount {
  width: 12%;
}
.mt-50{
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
}
.card {
  margin-top: 40px;
}
.mr-10 {
  padding-right: 15px;
}
input {
  margin-right: 15px;
  line-height: 24px;
}
button {
  background-color: #3cb371;
  border: none;
  color: white;
  padding: 6px 35px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height: 30px;
}